<center>
    <h1>Добавление подраздела</h1>
    <form method="post" class="form-floating">
        <input type="hidden" name="addToAction" value="@(ViewBag.AddToAction)">
        <div class="form-floating mb-3">
            <input type="text" name="action" class="form-control" id="floatingInput">
            <label for="floatingInput">Название</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" name="desc" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Текст, который будет отправлен пользователю при открытии раздела</label>
        </div>
        <button style="width: 100%" type="submit" class="btn btn-danger">Создать</button>
    </form>
</center>